<!DOCTYPE html>
<html>
<head>
  <title>RailsWikinimous</title>
  <style type="text/css" media="screen">
    #editor {
        height: 300px;
    }
  </style>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


</body>
</html>
